@import '../control.scss';
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
$topH: 280px;
$botH: 35vh;

.wrapper {
  justify-content: center;
  width: 80%;
  // background-image: url("/fon_311.jpg");
  // background-repeat: repeat;
  // background-attachment: local;
  // background-position: top;
  // background-size: auto;
  background-color: #322D31;
  border: 2px solid $color5;
  box-shadow: 0px 0px 6px rgba(255, 66, 82, 0.8), 0px 0px 13px rgba(255, 66, 82, 0.4), 0px 0px 18px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  color: $color1;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.container_top {
  width: 100%;
  min-height: $topH;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

}
.container_top_image {
  width: 40%;
  height: $topH;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_circle {
  width: 14rem;
  height: 14rem;
  background: linear-gradient(
    to right,
    rgba(255, 127, 80,0.75),
    rgba(255, 0, 255,0.75)
    );
  position:absolute;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 15px 15px rgba(255, 255, 255, 0.2), 0px 0px 40px rgba(255, 255, 255, 0.2);
}
.image_image {
  border-radius: 20px;
  margin: 10px;
  min-height: 220px;
  min-width: 280px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 50%;
  z-index: 4;
}
.container_top_info {
  width: 50%;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.info_title {
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: $color3;
  font-weight: bolder;
  transition: all 0.75s ease;
  margin: 30px 10px;
  text-align: center;
}
.container_top_info h3 {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: $color1;
  font-weight: lighter;
  transition: all 0.75s ease;
  hyphens: none;
  text-overflow: ellipsis;
}
.info_block {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info_volumeAndType {
    margin: 0 4% 0 4%;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info_value {
  margin: 0 4% 0 4%;
min-width: 180px;
display: flex;
align-items: center;
justify-content: flex-end;
}
.info_price {
  width: 43%;
  min-width: 280px;
}
.price {
  margin-top: 20px;
  width: 90%;
  color: $color2;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  line-height: 2.6rem;

  font-size: 30px;
  transition: all 0.75s ease;
}

.priceFormer {
  position: relative;
  top: 10px;
  left: -60px;
  margin-top: 120px;
  width: 67%;
  color: #6a737b;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  line-height: 2.6rem;
  font-size: 27px;
  transition: all 0.75s ease;
  text-decoration: line-through;
  background-image: url("/Sale.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right;
  background-size: contain;
  margin-bottom: 10px;
}
.changeValueinBasket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.inBasketValue {
  min-width: 140px;
}

.paramWrapper {
  display: flex;
  width:90%;
  height: 58px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 0px 15px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  transition: all 0.85s ease;
  cursor: pointer;
}
.strelochka {
  transition: all 0.65s ease;
}
.paramHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 50px;
  border-radius: 15px;
  padding: 5px 15px;
}
.paramHeader:hover {
  background-color: rgba(0,0,0,0.3);
}
.HeaderImageAndParam {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
}
.div_luppa_hair {
  display: none;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 500px;
  left: 500px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all .35s ease;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}
.image_hair {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.paramHr {
  min-width: 100%;
  min-height: 3px;
  background-color: $color5;
  border-radius:50%;
  margin: 6px 0;
}
.paramList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.List_prod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 120px;
  height: 50px;
  border-radius: 15px;
  padding: 5px 15px;
}
.List_prod:hover {
  background-color: rgba(0,0,0,0.3);
}
.ListImageAndParam {
  display: flex;
  flex-direction: row;
  align-items: center;
}


// =============== BOTTOM ============================================
.buttonDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60px;
}
.container_bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}
.description {
  display: flex;
  margin: 0 0 20px 0;
  width: 85%;
  h3 {
    font-size: 19px;
    font-family: 'Philosopher';
  }
  pre {
    white-space: pre-wrap;
  }
}





// ============== Buttons style =========================================
.butt .text:active {
  color:  black;
}
div.butt {
  margin-left: 10px;
  margin-top: -7px;
  z-index: 4;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  height: 50px;
  width: 110px;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  transition: all 0.75s ease;
  cursor: pointer;
}
div.butt a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff1493;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
div.butt a.white:hover > p {
  color: #ece8e1;
}
div.butt a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
div.butt a.white > p span.base {
  border: 1px solid transparent;
}
div.butt a.transparent:hover > p {
  color: #ece8e1;
}
div.butt a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
div.butt a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
div.butt a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
div.butt a:after, div.butt a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
div.butt a:before {
  right: 0;
  left: initial;
}
div.butt a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
div.butt a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 2px solid $color5;
}

div.butt a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
div.butt a p span.bg {
  left: -5%;
  position: absolute;
  background: $color5;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}

div.butt a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-weight: lighter;
}
div.butt a p span.text:after {
  content: "";
  width: 7px;
  height: 7px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
div.butt a:hover {
  color: #ece8e1;
}
div.butt a:hover span.bg {
  width: 110%;
}
div.butt a:hover span.text:after {
  background: #ece8e1;
}





// ======================= Litle Screen ==================================

@media screen and (max-width:768px) {
  .container_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .container_top_info {
    width: 50%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    justify-content: center;
    width: 95%;
    // background-image: url("/fon_311.jpg");
    // background-repeat: repeat;
    // background-attachment: local;
    // background-position: top;
    // background-size: auto;
    background-color: #322D31;
    border: 2px solid $color5;
    box-shadow: 0px 0px 6px rgba(255, 66, 82, 0.8), 0px 0px 13px rgba(255, 66, 82, 0.4), 0px 0px 18px rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    color: $color1;
    flex: 0 1 auto;
    flex-wrap: wrap;
  }
  div.butt {
    margin-left: 0px;
  }

}

@media screen and (max-width:909px) {
  .info_value {
  justify-content: center;
  }
  .info_volumeAndType {
    justify-content: center;
  }
}
