@import '../../pages/control.scss';

.div_main {
  padding: 10px;
}

.div_name_content {
  margin-bottom: 20px;
  padding: 10px;
}

.div_block_order {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  border-top: 1px solid $color4;
  border-bottom: 1px solid $color4;
  margin-bottom: 20px;
}

.div_block {
  margin-right: 50px;
}

.div_content2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 10px;
}
.div_userData {
  width: 350px;
}


@media screen and (max-width:768px) {
  .div_userData {
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
  }
}









div.butt {
  width:115px;
  z-index: 4;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  transition: all 0.75s ease;
  cursor: pointer;
}
div.butt a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff1493;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
div.butt a.white:hover > p {
  color: #ece8e1;
}
div.butt a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
div.butt a.white > p span.base {
  border: 1px solid transparent;
}
div.butt a.transparent:hover > p {
  color: #ece8e1;
}
div.butt a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
div.butt a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
div.butt a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
div.butt a:after, div.butt a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
div.butt a:before {
  right: 0;
  left: initial;
}
div.butt a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
div.butt a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid $color5;
}
div.butt a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
div.butt a p span.bg {
  left: -5%;
  position: absolute;
  background: $color5;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
div.butt a p span.text {
  font-size: 12px;
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-weight: lighter;
}
div.butt a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
div.butt a:hover {
  color: #ece8e1;
}
div.butt a:hover span.bg {
  width: 110%;
}
div.butt a:hover span.text:after {
  background: #ece8e1;
}
