.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.content {
  min-height: 75vh;
  flex: 1, 1, auto;
}

.div_wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -2;
}

.div_video {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;


}

.div_video video {
  position: fixed;
  top: 50%;
  left: 49.99%;
  min-width: 100%;
  min-height: 115vh;
  max-height: 115vh;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-image: url("/fon121.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.div_fon {
  position: fixed;
  top: 50%;
  left: 49.99%;
  min-width: 100%;
  min-height: 115vh;
  width: auto;
  max-height: 115vh;
  transform: translate(-50%, -50%);
  z-index: -3;
  background-image: url("/fon121.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width:768px) {
  .div_fon {

    z-index: -3;
    background-image: url("/fon121.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }
}
