@import './control.scss';
$font_size: 10px;

.div_presentations {
  display:flex;
  flex-direction: row;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.div_main_text {
  position: relative;
  top: -50px;
  left: -130px;
  min-width: 700px;
  min-height: 700px;
  background-image: url("/mazok4.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: top;
  background-size: contain;
  z-index: 1;
  margin-left:  4%;
}

.div_zagolovok {
  width: 600px;
  position: relative;
  top: 135px;
  left: 150px;
  font-size: 48px;
  font-weight: 800;
  color: black;
}

.div_text {
  width: 430px;
  position: relative;
  top: 210px;
  left: 150px;
  font-size: 35px;
  font-weight: 700;
  word-spacing: 5px;
  line-height: 35px;
  color: black;
}

.div_card_image {
  position: relative;
  margin-top: 10px;
  width: 364px;
  height: 365px;
  margin-left: 6%;
  margin-bottom: 200px;
}

.div_image {
  width: 100%;
  height: 100%;
  background-image: url("/map_japan4.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  border: 3px solid #caccd1;
  opacity: 0.95;

  .div_dot_1 {
    position: relative;
    width: 6px;
    height: 6px;
    top: 255px;
    left: 165px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #FF4252;
    border-radius: 50%;
    z-index: 2;
  }
  .div_dot_2 {
    position: relative;
    width: 6px;
    height: 6px;
    top: 238px;
    left: 197px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #FF4252;
    border-radius: 50%;
    z-index: 2;
  }
  .div_dot_3 {
    position: relative;
    width: 6px;
    height: 6px;
    top: 225px;
    left: 247px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #FF4252;
    border-radius: 50%;
    z-index: 2;
  }
}

.div_image_content1 {
  position: relative;
  top: -160px;
  left: -280px;
  width: 300px;
  height: 300px;
  background-color: #caccd1;
  background-image: url("/cosmetic3.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  border: 3px solid #FF4252;
  border-radius: 50%;
  z-index: 2;
}
.div_line_1_1 {
  position: absolute;
  top: 236px;
  left: -120px;
  width: 294px;

  transform: rotateZ(9deg);
  border-top: 3px solid #FF4252;
  background-color: black;
  z-index:1;
  opacity: 0.7;
}

.div_line_1_2 {
  position: absolute;
  top: 376px;
  left: -83px;
  width: 304px;

  transform: rotateZ(-46deg);
  border-top: 3px solid #FF4252;
  background-color: black;
  z-index:1;
  opacity: 0.7;
}

.div_line_2_1 {
  position: absolute;
  top: 291px;
  left: 203px;
  width: 212px;

  transform: rotateZ(20.5deg);
  border-top: 3px solid #FF4252;
  background-color: black;
  z-index:1;
  opacity: 0.7;
}
.div_line_2_2 {
  position: absolute;
  top: 369px;
  left: 101px;
  width: 221px;

  transform: rotateZ(84.7deg);
  border-top: 3px solid #FF4252;
  background-color: black;
  z-index:1;
  opacity: 0.7;
}

.div_line_3_1 {
  position: absolute;
  top: 136px;
  left: 200px;
  width: 312px;

  transform: rotateZ(-49deg);
  border-top: 3px solid #FF4252;
  background-color: black;
  z-index:1;
  opacity: 0.7;
}
.div_line_3_2 {
  position: absolute;
  top: 270px;
  left: 259px;
  width: 288px;

  transform: rotateZ(3.6deg);
  border-top: 3px solid #FF4252;
  background-color: black;
  z-index:1;
  opacity: 0.7;
}


.div_image_content2 {
  position: relative;
  top: -700px;
  left: 410px;
  width: 300px;
  height: 300px;
  background-color: #caccd1;
  background-image: url("/miracle_fon.gif");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  border: 3px solid #FF4252;
  border-radius: 50%;
  z-index: 2;
}

.div_image_content2_hair {
  width: 100%;
  height: 100%;
  background-image: url("/woman_4.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: top;
  background-size:  cover;
  border-radius: 50%;
}

.div_image_content3 {
  position: relative;
  top: -660px;
  left: 220px;
  width: 300px;
  height: 300px;
  background-color: #caccd1;
  background-image: url("/vitamins.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  border: 3px solid #FF4252;
  border-radius: 50%;
  z-index: 2;
}

@media screen and (max-width:768px) {
  .div_presentations {
    display:flex;
    flex-direction: row;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .div_main_text {
    position: relative;
    top: -50px;
    left: -30px;
    min-width: 100%;
    max-width: 700px;
    min-height: 550px;
    background-image: url("/mazok4.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: top;
    background-size: contain;
    z-index: 1;
    margin-left:  4%;
  }

  .div_zagolovok {
    width: 70%;
    position: relative;
    font-weight: 800;
    color: black;
  }

  .div_text {
    width: 60%;
    position: relative;
    font-weight: 700;
    word-spacing: 5px;
    color: black;
  }
  .div_conteiner1 {
    width: 90%;
    height: 200px;
    background-image: url("/map_japan4.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    border: 3px solid #caccd1;
    opacity: 0.95;
  }

  .div_image_content1 {
    position: relative;
    background-color: #caccd1;
    background-image: url("/cosmetic3.jpg");
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    border: 3px solid #FF4252;
    border-radius: 50%;
    z-index: 2;
  }
  .div_dot_1 {
    position: relative;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #FF4252;
    border-radius: 50%;
    z-index: 4;
  }
  .div_dot_2 {
    position: relative;
    width: 6px;
    height: 6px;
    top: -35%;
    left: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #FF4252;
    border-radius: 50%;
    z-index: 4;
  }
  .div_dot_3 {
    position: relative;
    width: 6px;
    height: 6px;
    top: 225px;
    left: 17px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid #FF4252;
    border-radius: 50%;
    z-index: 4;
  }
}
