@import '../control.scss';

.div_main {
  width: 100%;
  min-height: 65vh;
  // background-image: url("/fon_311.jpg");
  // background-repeat: repeat;
  // background-attachment: local;
  // background-position: top;
  // background-size: auto;
  background-color: #322D31;
  border: 2px solid $color5;
  box-shadow: 0px 0px 6px rgba(255, 66, 82, 0.8), 0px 0px 13px rgba(255, 66, 82, 0.4), 0px 0px 18px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  color: $color1;
  padding-bottom: 50px;
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;

}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  perspective: 820px;
  padding: 20px;
}

.card {
  position: relative;
  width: 330px;
  height: 80%;
  margin: 30px;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.3);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid rgba(255,255,255,0.7);
  border-left: 1px solid rgba(255,255,255,0.7);
  backdrop-filter: blur(8px);
  color:black;
  transition: all 0.65s ease;
  transform-style: preserve-3d;
  margin-bottom: 55px;
}
.element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.75s ease;
  z-index: 5;
}
.heading {
  margin: 22px 0 15px 0;
  opacity: 1;
  color: #black;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}
.text {
  margin: 4px 0;
  opacity: 1;
  color: #black;
  font-size: 17px;
  font-weight: 600;
}

.text a{
  text-decoration: none;
  padding: 5px;
  color: #black;
  background-color: black;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.text a:hover{
  text-decoration: underline;
  padding: 8px;
  color: #black;
  background-color: #990033;
  font-size: 17px;
  font-weight: 600;
}
